.navbar {
  height: 96px;
  width: 100%;
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .brand-logo {
    display: inline-block;
    margin-left: 4rem;

    & a {
      display: block;
      margin-top: 9px;
      width: 8rem;

      & img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  
  & .nav-toggle {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $default-font-size;
    font-weight: 700;
    text-decoration: none;
    // margin-right: 4rem;
    position: fixed;
    top: 3.8rem;
    right: 4rem;

    & span:nth-child(1) {
      position: relative;
      top: -4px;
      margin-right: 1.3rem;
      color: $color-green-accent;

      &:hover {
        color: $color-white;
      }
    }

    & span:nth-child(2) i {
      font-size: 3.5rem;
    }
  }
}